<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Categories</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <%= render 'shared/navbar' %>
    <div class="container text-center mt-5">
        <h1>Menu</h1>
        <div class="list-group mt-4">
            <%= link_to "Games On Sale(Steam)", cheap_games_path, class: "list-group-item list-group-item-action" %>
            <%= link_to "Free Games", free_games_path, class: "list-group-item list-group-item-action" %>
            <%= link_to "Game Summaries", game_summaries_path, class: "list-group-item list-group-item-action" %>
            <%= link_to "Giveaways", giveaways_path, class: "list-group-item list-group-item-action" %>
            <%= link_to "About Us", abouts_path, class: "list-group-item list-group-item-action" %>
        </div>
    </div>
</body>
</html>
