<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Results</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>

<body class="bg-secondary text-white">
<div class="col-md-12 mt-4 card mb-3 bg-dark text-white text-center">
  <p>
    Search Results for "<%= params[:search] %>" retrieved:
  </p>
  <p>
    <%= @cheap_games.count%> Cheap Games, <%= @free_games.count%> Free Games, and <%= @giveaways.count%> Giveaways!
  </p>
</div>

<div class="container mt-2">
  <div class="row">
    <!-- Cheap Games Section -->
    <div class="col-md-12 card mb-2 bg-dark text-white">
      <h2>Cheap Games</h2>
      <% if @cheap_games.empty? %>
        <p>No results found in the Cheap Games category.</p>
      <% else %>
        <p><strong><%= @cheap_games.count %></strong> results found in the Cheap Games category.</p>
        <div class="row"> <!-- Add a new row here -->
          <% @cheap_games.each do |cheap_game| %>
            <div class="col-md-3 mb-3"> <!-- Use col-md-3 to create four equal columns -->
              <div class="card mb-3 bg-secondary text-white">
                <div class="card-body">
                  <h5><%= link_to cheap_game.title, cheap_game_path(cheap_game), class: "text-reset card-title" %></h5>
                  <a href="<%= cheap_game_path(cheap_game) %>">
                    <img src="<%= cheap_game.thumbnail %>" class="card-img-top" alt="<%= cheap_game.title %>">
                  </a>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <!-- Free Games Section -->
    <div class="col-md-12 mt-2 card mb-2 bg-dark text-white">
      <h2>Free Games</h2>
      <% if @free_games.empty? %>
        <p>No results found in the Free Games category.</p>
      <% else %>
        <p><strong><%= @free_games.count %></strong> results found in the Free Games category.</p>
        <div class="row"> <!-- Add a new row here -->
          <% @free_games.each do |free_game| %>
            <div class="col-md-3 mb-3"> <!-- Use col-md-3 to create four equal columns -->
              <div class="card bg-secondary text-white">
                <div class="card-body">
                  <h5><%= link_to free_game.title, free_game_path(free_game), class: "text-reset card-title" %></h5>
                  <a href="<%= free_game_path(free_game) %>">
                    <img src="<%= free_game.thumbnail %>" class="card-img-top" alt="<%= free_game.title %>">
                  </a>
                  <h6>Platform: <%=free_game.platform%></h6>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <!-- Giveaways Section -->
    <div class="col-md-12 mt-2 card mb-4 bg-dark text-white">
      <h2>Giveaways</h2>
      <% if @giveaways.empty? %>
        <p>No results found in the Giveaways category.</p>
      <% else %>
        <p><strong><%= @giveaways.count %></strong> results found in the Giveaways category.</p>
        <div class="row"> <!-- Add a new row here -->
          <% @giveaways.each do |giveaway| %>
            <div class="col-md-3 mb-3"> <!-- Use col-md-3 to create four equal columns -->
              <div class="card bg-secondary text-white">
                <div class="card-body">
                  <h5><%= link_to giveaway.title, giveaway_path(giveaway), class: "text-reset card-title" %></h5>
                  <a href="<%= giveaway_path(giveaway) %>">
                    <img src="<%= giveaway.thumbnail %>" class="card-img-top" alt="<%= giveaway.title %>">
                  </a>
                  <h6>Platforms: <%= giveaway.platforms %></h6>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
</body>
</html>