<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">

    <%= link_to "Budget Gamer Project", root_path, class: "navbar-brand"%>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item">
          <%= link_to "Games On Sale (Steam)", cheap_games_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Free Games", free_games_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Game Summaries", game_summaries_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Giveaways", giveaways_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "About Us", abouts_path, class: "nav-link" %>
        </li>

      </ul>
    </div>
  </div>
</nav>
