<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Giveaways</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <%= render 'shared/navbar' %>

  <div class="container mt-4">
    <h1 class="mb-4">Giveaways</h1>

    <%= form_tag(giveaways_path, method: :get) do %>
      <div class="form-group">
        <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search by title" %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      </div>
    <% end %>

  <div class="row">
    <% @giveaways.each do |giveaway| %>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title"><%= giveaway.title %></h5>
            <img src="<%= giveaway.thumbnail %>" class="card-img-top" alt="<%= giveaway.title %>">
            <h6><%= giveaway.worth %> worth giveaway!<h6>
          </div>
        </div>
      </div>
    <% end %>
  </div>

<!--
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Worth</th>
          <th>Thumbnail</th>
          <th>Instructions</th>
          <th>Giveaway URL</th>
          <th>Platforms</th>
          <th>End Date</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% @giveaways.each do |giveaway| %>
          <tr>
            <td><%= giveaway.title %></td>
            <td><%= giveaway.worth %></td>
            <td><img src="<%= giveaway.thumbnail %>" alt="<%= giveaway.title %>" width="100"></td>
            <td><%= giveaway.instructions %></td>
            <td><a href="<%= giveaway.giveaway_url %>" target="_blank">Visit</a></td>
            <td><%= giveaway.platforms %></td>
            <td><%= giveaway.end_date %></td>
            <td><%= giveaway.status %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
-->

  <div class="pagination-container">
    <%= will_paginate @giveaways, previous_label: 'Previous', next_label: 'Next', class: 'pagination justify-content-center' %>
  </div>
</body>

</html>