<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= @giveaways.title %></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <div class="container mt-6">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div>
          <h1 class="text-center"><%= @giveaways.title %></h1>
        </div>
      </div>
    </div>

    <div class="row justify-content-center mt-4 ">
      <div class="col-md-8">
        <div class="border rounded p-5 bg-dark">
          <div class="row">
            <div class="col-md-4">
              <h2>Giveaway info</h2>
              <img src="<%= @giveaways.thumbnail %>" class="img-fluid" alt="<%= @giveaways.title %>">
            </div>
            <div class="col-md-8 bg-">
              <p><strong>Worth:</strong> <%= @giveaways.worth %></p>
              <p><strong>Giveaway URL: <a href="<%= @giveaways.giveaway_url %>">Visit Site</a></strong></p>
              <p><strong>Platforms:</strong> <%= @giveaways.platforms %></p>
              <p><strong>End Date:</strong> <%= @giveaways.end_date %></p>
              <p><strong>Status:</strong> <%= @giveaways.status %></p>
              <p><strong>Instructions:</strong> <%= @giveaways.instructions %></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Display the description from the associated GameSummary, if available -->
    <div class="row justify-content-center mt-4">
      <div class="col-md-8">
        <div class="border rounded p-5 bg-dark">
          <h2 class="text-center">Game Summary</h2>
          <% game_summary = GameSummary.find_by(id: @giveaways.summary_id) %>
          <% if game_summary.present? %>
            <p><%= game_summary.game_summary %></p>
          <% else %>
            <p class="text-center">No game summary available</p>
          <% end %>
        </div>
      </div>
    </div>


  </div>
</body>
</html>