<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cheap Games</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <%= render 'shared/navbar' %>

  <div class="container mt-4">
    <h1 class="mb-4">Games on Sale (Steam)</h1>

  <!-- Search Form -->
  <div class="mb-3">
    <%= form_tag(cheap_games_path, method: :get, class: "form-inline") do %>
      <div class="form-group">
        <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search by Game Title" %>
        <div class="input-group-append">
          <%= submit_tag "Search", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>

<!-- Grid showing data -->
<div class="row">
  <% @cheap_games.each do |cheap_game| %>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title text-center"><%= cheap_game.title %></h5>
          <img src="<%= cheap_game.thumbnail %>" class="card-img-top" alt="<%= cheap_game.title %>">
          <div class="d-flex justify-content-between mt-2">
            <p class="card-text mb-1 text-center">
              <span class="font-weight-bold">Steam Review:</span> <br><%= cheap_game.steam_rating_text %>
            </p>
            <p class="card-text mb-1 text-center">
              <span class="font-weight-bold">Steam Rating:</span> <br><%= cheap_game.steam_rating_percent %>%
            </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

    <div class="pagination-container mb-4">
      <%= will_paginate @cheap_games, previous_label: 'Previous', next_label: 'Next', class: 'pagination justify-content-center' %>
    </div>
  </div>
</body>
</html>
