<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= @cheap_game.title %></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <%= render 'shared/navbar' %>

  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div>
          <h1 class="text-center"><%= @cheap_game.title %></h1>
        </div>
      </div>
    </div>

    <div class="row justify-content-center mt-4">
      <div class="col-md-8">
        <div class="border rounded p-5">
          <div class="row">
            <div class="col-md-4">
              <h2>Game info on Steam</h2>
              <img src="<%= @cheap_game.thumbnail %>" class="img-fluid" alt="<%= @cheap_game.title %>">
            </div>
            <div class="col-md-8">
              <p><strong><a href="https://www.metacritic.com<%= @cheap_game.metacritic_link %>">Metacritic Link</a></strong></p>
              <p><strong>Metacritic Score:</strong> <%= @cheap_game.metacritic_score %></p>
              <p><strong>Steam Rating Text:</strong> <%= @cheap_game.steam_rating_text %></p>
              <p><strong>Steam Rating Percent:</strong> <%= @cheap_game.steam_rating_percent %></p>
              <p><strong>Steam App ID:</strong> <%= @cheap_game.steam_app_id %></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Display the description from the associated GameSummary, if available -->
    <div class="row justify-content-center mt-4">
      <div class="col-md-8">
        <div class="border rounded p-5">
          <h2 class="text-center">Game Summary</h2>
          <% game_summary = GameSummary.find_by(id: @cheap_game.game_summary_id) %>
          <% if game_summary.present? %>
            <p><%= game_summary.game_summary %></p>
          <% else %>
            <p class="text-center">No game summary available</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
